<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar Empresa</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/styles/components/sidebar.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css" />
</head>

<body class="font-sans">

    <!-- Inicio do sidebar -->
    <span id="openSidebarButton" class="absolute text-white text-4xl top-5 left-4 cursor-pointer"
        >
        <i class="bi bi-list px-2 bg-gray-900 rounded-md"></i>
    </span>

    <div 
    id="sidebar"
    onclick="event.stopPropagation();"
    class="sidebar fixed top-0 bottom-0 lg:left-0 p-2 w-[300px] overflow-y-auto text-center bg-gray-900">

        <div class="text-gray-100 text-xl">
            <div class="p-2.5 mt-1 flex items-center">
                <i class="bi bi-app-indicator px-2 py-1 rounded-md bg-blue-600"></i>
                <h1 class="font-bold text-gray-200 text-[15px] ml-3">Sistema</h1>

                <div class="my-2 bg-gray-600 h-[1px]"></div>
            </div>
            <button class="close-button ml-28 " onclick="toggleSidebar()">
                &times;
            </button>

        </div>
        <div class="p-2.5 flex items-center rounded-md px-4 duration-300 cursor-pointer bg-gray-700 text-white">
            <i class="bi bi-search text-sm"></i>
            <input id="searchInput" type="text" placeholder="Search"
                class="text-[15px] ml-4 w-full bg-transparent focus:outline-none" />
        </div>
        <div id="optionsContainer">
            <a href="{{ url_for('main_routes.painel_admin') }}">
                <div
                    class="p-2.5 mt-3 flex items-center rounded-md px-4 duration-300 cursor-pointer hover:bg-blue-600 text-white">
                    <i class="bi bi-house-door-fill"></i>

                    <span class="text-[15px] ml-4 text-gray-200 font-bold">Home</span>

                </div>
            </a>
            <div class="my-4 bg-gray-600 h-[1px]"></div>
            <div class="p-2.5 mt-3 flex items-center rounded-md px-4 duration-300 cursor-pointer hover:bg-blue-600 text-white"
                onclick="dropdown_usuarios()">
                <i class="bi bi-people"></i>
                <div class="flex justify-between w-full items-center">
                    <span class="text-[15px] ml-4 text-gray-200 font-bold">Usuários</span>
                    <span class="text-sm rotate-180" id="arrow_usuarios">
                        <i class="bi bi-chevron-down"></i>
                    </span>
                </div>
            </div>
            
            <div class="text-left text-sm mt-2 w-4/5 mx-auto text-gray-200 font-bold" id="submenu_usuarios">
                <a href="{{ url_for('main_routes.adicionar_usuario') }}">
                <h1 class="cursor-pointer p-2 hover:bg-blue-600 rounded-md mt-1">
                    Cadastrar Usuário
                </h1>
                </a>
                <a href="{{ url_for('main_routes.painel_admin') }}">
                <h1 class="cursor-pointer p-2 hover:bg-blue-600 rounded-md mt-1">
                    Usuários Cadastrados
                </h1>
                </a>
            </div>
            <div class="my-4 bg-gray-600 h-[1px]"></div>
            <div class="p-2.5 mt-3 flex items-center rounded-md px-4 duration-300 cursor-pointer hover:bg-blue-600 text-white"
                onclick="dropdown_empresas()">
                <i class="bi bi-building"></i>
                <div class="flex justify-between w-full items-center">
                    <span class="text-[15px] ml-4 text-gray-200 font-bold">Empresas</span>
                    <span class="text-sm rotate-180" id="arrow_empresas">
                        <i class="bi bi-chevron-down"></i>
                    </span>
                </div>
            </div>
            <div class="text-left text-sm mt-2 w-4/5 mx-auto text-gray-200 font-bold" id="submenu_empresas">
                <a href="{{ url_for('main_routes.cadastrar_empresa') }}">
                <h1 class="cursor-pointer p-2 hover:bg-blue-600 rounded-md mt-1">
                    Cadastrar Empresa
                </h1>
                </a>
                <a href="{{ url_for('main_routes.visualizar_empresas') }}">
                <h1 class="cursor-pointer p-2 hover:bg-blue-600 rounded-md mt-1">
                    Empresas Cadastradas
                </h1>
                </a>
            </div>

            <div
                class="p-2.5 mt-3 flex items-center rounded-md px-4 duration-300 cursor-pointer hover:bg-blue-600 text-white">
                <i class="bi bi-box-arrow-in-right"></i>
                <span class="text-[15px] ml-4 text-gray-200 font-bold">Logout</span>
            </div>
        </div>
    </div>


<!-- Fim do sidebar -->    
   

    <div class="w-full max-w-md mx-auto mt-8">
    <h1 class="text-2xl font-bold mb-4">Cadastrar Nova Empresa</h1>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="mb-4">
        {% for message in messages %}
        <div class="bg-green-200 text-green-800 px-4 py-2 rounded">{{ message }}</div>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}

    <form method="POST" action="{{ url_for('main_routes.cadastrar_empresa') }} " class="mb-4">
        <div class="mb-4">
            <label for="cnpj" class="block text-gray-600 text-sm font-semibold mb-2">CNPJ: *</label>
            <input type="text" name="cnpj" id="cnpj"
                class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light"
                maxlength="18" required>
        </div>

        <div class="mb-4">
            <label for="nome" class="block text-gray-600 text-sm font-semibold mb-2">Nome: *</label>
            <input type="text" name="nome" id="nome"
                class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light"
                required>
        </div>

        <div class="mb-4">
            <label for="contato" class="block text-gray-600 text-sm font-semibold mb-2">Contato: *</label>
            <input type="text" name="contato" id="contato"
                class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light "
                oninput="formatarContato(this)" maxlength="15" required>
        </div>

        <div class="mb-4">
            <label for="cep" class="block text-gray-600 text-sm font-semibold mb-2">CEP: *</label>
            <input type="text" name="cep" id="cep"
                class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light"
                maxlength="9" required>
        </div>

        <div class="mb-4">
            <label for="rua" class="block text-gray-600 text-sm font-semibold mb-2">Rua: *</label>
            <input readonly type="text" name="rua" id="rua"
                class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light"
                required>
        </div>

        <div class="mb-4">
            <label  for="bairro" class="block text-gray-600 text-sm font-semibold mb-2">Bairro: *</label>
            <input readonly type="text" name="bairro" id="bairro"
                class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light"
                required>
        </div>

        <div class="mb-4">
            <label for="numero" class="block text-gray-600 text-sm font-semibold mb-2">Número: *</label>
            <input type="text" name="numero" id="numero"
                class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light"
                maxlength="6" required>
        </div>

        <div class="mb-4">
            <label for="complemento" class="block text-gray-600 text-sm font-semibold mb-2">Complemento:</label>
            <input type="text" name="complemento" id="complemento"
                class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light">
        </div>

        <div class="mt-8">
            <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                Cadastrar Empresa
            </button>
        </div>
    </form>
</div>
    <script src="https://cdn.jsdelivr.net/npm/alpinejs@2.8.2/dist/alpine.min.js" defer></script>
    <script src="{{ url_for('static', filename='js/cadastrar_empresa.js') }}"></script>
    <script src="../static/js/components/sidebar.js"></script>
    <script src="../static/js/components/filtro_cep.js"></script>

</body>

</html>