<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minha Página Inicial</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/tailwind.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@3.3.3/dist/tailwind.min.css">
</head>

<body class="bg-gray-200 p-8">
    <h1 class="text-3xl font-bold mb-4 text-center">Bem-vindo à minha página inicial!</h1>

    <div class="flex items-center justify-center">
        <!-- Botão Administrador -->
        <form action="{{ url_for('main_routes.admin_login') }}" method="get">
            <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                Administrador
            </button>
        </form>
    
        <!-- Botão Colaboradores -->
        <form action="{{ url_for('main_routes.colaboradores') }}" method="get">
            <button type="submit" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded ml-2">
                Colaboradores
            </button>
        </form>
    </div>
    
</body>

</html>
